[submodule "_vendors/PSStackedView"]
	path = _vendors/PSStackedView
	url = https://github.com/steipete/PSStackedView
	ignore = dirty
[submodule "_vendors/AFNetworking"]
	path = _vendors/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
	ignore = dirty
[submodule "_vendors/XMLDictionary"]
	path = _vendors/XMLDictionary
	url = https://github.com/nicklockwood/XMLDictionary
	ignore = dirty
