<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bitcoin</string>
			<key>url</key>
			<string></string>
			<key>text_color</key>
			<string>#EB611F</string>
			<key>border_color</key>
			<string>#F9D3C1</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>Games</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#EB611F</string>
					<key>border_color</key>
					<string>#F9D3C1</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Tickers</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#EB611F</string>
					<key>border_color</key>
					<string>#F9D3C1</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Wallets</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#EB611F</string>
					<key>border_color</key>
					<string>#F9D3C1</string>
					<key>children</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Litecoin</string>
			<key>url</key>
			<string></string>
			<key>text_color</key>
			<string>#7F7F7F</string>
			<key>border_color</key>
			<string>#E1E1E1</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>Games</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#7F7F7F</string>
					<key>border_color</key>
					<string>#E1E1E1</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Tickers</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#7F7F7F</string>
					<key>border_color</key>
					<string>#E1E1E1</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Wallets</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#7F7F7F</string>
					<key>border_color</key>
					<string>#E1E1E1</string>
					<key>children</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Dogecoin</string>
			<key>url</key>
			<string></string>
			<key>text_color</key>
			<string>#BA9F33</string>
			<key>border_color</key>
			<string>#EEE6C3</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>Games</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#BA9F33</string>
					<key>border_color</key>
					<string>#EEE6C3</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Tickers</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#BA9F33</string>
					<key>border_color</key>
					<string>#EEE6C3</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Wallets</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#BA9F33</string>
					<key>border_color</key>
					<string>#EEE6C3</string>
					<key>children</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Vertcoin</string>
			<key>url</key>
			<string></string>
			<key>text_color</key>
			<string>#185A2D</string>
			<key>border_color</key>
			<string>#CEF2D9</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>Games</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#185A2D</string>
					<key>border_color</key>
					<string>#CEF2D9</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Tickers</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#185A2D</string>
					<key>border_color</key>
					<string>#CEF2D9</string>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>name</key>
					<string>Wallets</string>
					<key>url</key>
					<string></string>
					<key>text_color</key>
					<string>#185A2D</string>
					<key>border_color</key>
					<string>#CEF2D9</string>
					<key>children</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
	<key>border_color</key>
	<string>#000000</string>
	<key>text_color</key>
	<string>#000000</string>
	<key>url</key>
	<string>http://gigabitcoin.co/appsgocrypto.plist</string>
	<key>name</key>
	<string>All Coins</string>
</dict>
</plist>
