<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Tickers</string>
			<string>Utilities</string>
		</array>
		<key>name</key>
		<string>coinwatch</string>
		<key>id</key>
		<string>646583472</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Community</string>
			<string>News</string>
			<string>Business</string>
		</array>
		<key>name</key>
		<string>Bubblecoin</string>
		<key>id</key>
		<string>748662002</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Business</string>
			<string>Local</string>
		</array>
		<key>name</key>
		<string>BitScan</string>
		<key>id</key>
		<string>734946568</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Business</string>
			<string>Local</string>
		</array>
		<key>name</key>
		<string>CoinScout</string>
		<key>id</key>
		<string>793484994</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Litecoin</string>
			<string>Namecoin</string>
			<string>Peercoin</string>
			<string>Tickers</string>
		</array>
		<key>name</key>
		<string>Cryptok</string>
		<key>id</key>
		<string>792817672</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Business</string>
		</array>
		<key>name</key>
		<string>Coinality</string>
		<key>id</key>
		<string>818571311</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Litecoin</string>
			<string>Bitcoin</string>
			<string>Games</string>
		</array>
		<key>name</key>
		<string>Hoot Solvent</string>
		<key>id</key>
		<string>876824447</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Litecoin</string>
			<string>Games</string>
		</array>
		<key>name</key>
		<string>Litecoin Rider</string>
		<key>id</key>
		<string>819765313</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Utilities</string>
		</array>
		<key>name</key>
		<string>Bitview</string>
		<key>id</key>
		<string>837153089</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Litecoin</string>
			<string>Utilities</string>
		</array>
		<key>name</key>
		<string>Litecoin Convert</string>
		<key>id</key>
		<string>859751028</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Videos</string>
		</array>
		<key>name</key>
		<string>Money and Tech</string>
		<key>id</key>
		<string>872746409</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Business</string>
		</array>
		<key>name</key>
		<string>BIPS POS</string>
		<key>id</key>
		<string>802910291</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Events</string>
		</array>
		<key>name</key>
		<string>BTC Miami</string>
		<key>id</key>
		<string>780733260</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Litecoin</string>
			<string>Tickers</string>
			<string>Alerts</string>
		</array>
		<key>name</key>
		<string>CoinsMan</string>
		<key>id</key>
		<string>772163893</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Games</string>
		</array>
		<key>name</key>
		<string>Bitcoin Clicker</string>
		<key>id</key>
		<string>873674306</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Dogecoin</string>
			<string>Games</string>
		</array>
		<key>name</key>
		<string>Doge Clicker</string>
		<key>id</key>
		<string>861242220</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Events</string>
		</array>
		<key>name</key>
		<string>Bitcoin Foundation Events</string>
		<key>id</key>
		<string>864187945</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Events</string>
		</array>
		<key>name</key>
		<string>Bitcoin Texas Conference</string>
		<key>id</key>
		<string>824501382</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Utilities</string>
		</array>
		<key>name</key>
		<string>Bitcoin Wall</string>
		<key>id</key>
		<string>659218728</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Bitcoin</string>
			<string>Games</string>
		</array>
		<key>name</key>
		<string>Bitcoin Escape</string>
		<key>id</key>
		<string>816744644</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>dogecoin</string>
			<string>games</string>
		</array>
		<key>name</key>
		<string>Make The Money Rain</string>
		<key>id</key>
		<string>882584646</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>dogecoin</string>
			<string>games</string>
		</array>
		<key>name</key>
		<string>Doge Bounce</string>
		<key>id</key>
		<string>850547912</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>dogecoin</string>
			<string>games</string>
		</array>
		<key>name</key>
		<string>Make It Rain Doge</string>
		<key>id</key>
		<string>884511439</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>mining</string>
			<string>utilities</string>
		</array>
		<key>name</key>
		<string>NastyFans</string>
		<key>id</key>
		<string>797021678</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>BitTix</string>
		<key>id</key>
		<string>866654884</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Bitcoin Live</string>
		<key>id</key>
		<string>628282018</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>utilities</string>
		</array>
		<key>name</key>
		<string>Coins</string>
		<key>id</key>
		<string>787299853</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>quarkcoin</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Quark Ticker</string>
		<key>id</key>
		<string>783452759</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>litecoin</string>
			<string>dogecoin</string>
			<string>nxt</string>
			<string>charts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>CoinFeed</string>
		<key>id</key>
		<string>81662999</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>utilities</string>
		</array>
		<key>name</key>
		<string>Baseline</string>
		<key>id</key>
		<string>731521731</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>litecoin</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>MobileMinerApp</string>
		<key>id</key>
		<string>681025353</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>Bitcoin Miner Stats</string>
		<key>id</key>
		<string>446651709</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>mining</string>
			<string>network</string>
		</array>
		<key>name</key>
		<string>BTCmon</string>
		<key>id</key>
		<string>463386122</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>dogecoin</string>
			<string>ticker</string>
			<string>news</string>
			<string>calculator</string>
		</array>
		<key>name</key>
		<string>Doge Tracker</string>
		<key>id</key>
		<string>785007290</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>dogecoin</string>
			<string>wallet</string>
		</array>
		<key>name</key>
		<string>MYDOGE</string>
		<key>id</key>
		<string>805178886</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>Business</string>
			<string>Bitcoin</string>
		</array>
		<key>name</key>
		<string>BitCharge</string>
		<key>id</key>
		<string>871630896</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>dogecoin</string>
			<string>peercoin</string>
			<string>bitcoin</string>
			<string>ticker</string>
			<string>namecoin</string>
		</array>
		<key>name</key>
		<string>Space cash</string>
		<key>id</key>
		<string>789603623</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>LTCRabbit</string>
		<key>id</key>
		<string>837876587</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>alerts</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>LTC Depot</string>
		<key>id</key>
		<string>787302625</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>ticker</string>
			<string>alerts</string>
			<string>mining</string>
			<string>news</string>
		</array>
		<key>name</key>
		<string>Miner Stats</string>
		<key>id</key>
		<string>782593885</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>LTC Price</string>
		<key>id</key>
		<string>757638901</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>litecoin</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Coined</string>
		<key>id</key>
		<string>750432002</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>BTC Charts</string>
		<key>id</key>
		<string>627347328</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>alerts</string>
		</array>
		<key>name</key>
		<string>Bitcoin Alert</string>
		<key>id</key>
		<string>699408229</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>charts</string>
			<string>ticker</string>
			<string>alerts</string>
			<string>news</string>
			<string>calculator</string>
		</array>
		<key>name</key>
		<string>CoinDesk</string>
		<key>id</key>
		<string>865294356</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>BTC Miner</string>
		<key>id</key>
		<string>648411895</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>videos</string>
			<string>education</string>
		</array>
		<key>name</key>
		<string>Everything About Bitcoins</string>
		<key>id</key>
		<string>659172435</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>calculator</string>
			<string>ticker</string>
			<string>charts</string>
		</array>
		<key>name</key>
		<string>btcReport</string>
		<key>id</key>
		<string>440302110</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Litecoin Price</string>
		<key>id</key>
		<string>681176788</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>litecoin</string>
			<string>ticker</string>
			<string>nxt</string>
			<string>dogecoin</string>
			<string>peercoin</string>
			<string>namecoin</string>
		</array>
		<key>name</key>
		<string>Coin Ticker</string>
		<key>id</key>
		<string>636476147</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Bitcoin Ticker</string>
		<key>id</key>
		<string>440229059</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>news</string>
			<string>charts</string>
			<string>litecoin</string>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Coinbits</string>
		<key>id</key>
		<string>457475022</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>Bread Wallet</string>
		<key>id</key>
		<string>885251393</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>news</string>
			<string>charts</string>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>calculator</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>ZeroBlock</string>
		<key>id</key>
		<string>643184018</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>bitWallet</string>
		<key>id</key>
		<string>777634714</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>GreenAddress</string>
		<key>id</key>
		<string>889740745</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>Verso Wallet</string>
		<key>id</key>
		<string>763862407</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>CoinJar</string>
		<key>id</key>
		<string>725209873</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>BitStore</string>
		<key>id</key>
		<string>890668158</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>Coin Pocket</string>
		<key>id</key>
		<string>885640234</string>
	</dict>
</array>
</plist>
