<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>name</key>
		<string>Bitcoin</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>Games</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tickers</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Wallets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>name</key>
		<string>Litecoin</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>Games</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tickers</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Wallets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>name</key>
		<string>Dogecoin</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>Games</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tickers</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Wallets</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
